.body {
	background-color: #F5F5F5;
}
.customnav {
	background-color: #DDE0CD;
	border-color: #DDE0CD;
}



.page-head h1{
	font-family: 'Amatic SC';
	font-size: 60px;
}

.lead {
	font-family: 'Josefin Sans', sans-serif;
}

a {
	font-family: 'Josefin Sans', sans-serif;
}

.prof {
	width: 50%;
	
}


.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

.footer {
	background-color: #DDE0CD;
	font-size: 15px;

}

.interests img {
	height: 160px;
	opacity: 0.6;
}

.interests img:hover {
	opacity: 1;
}

.interests-square {
	position: relative;
}

.description {
	font-size: 14px;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
 	 -webkit-transition: all 0.5s ease-in-out;
 	color:white;
	background-color: black;
    position: absolute;
 	bottom: 0;
 	height: 30px;
  	width: 86%; 
  	line-height: 30px;
  	text-align: center;
  	font-family: 'Josefin Sans', sans-serif;
}
 }
 